<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>

<body>


	<div id="app">

		<br>
		<br>
		<input type="text" v-model="todoItem.id" placeholder="Task id" id="taskId">
		<br>
		<input type="text" v-model="todoItem.desc" placeholder="Task descritpion" id="taskDesc">


		<button @click="List.createNew()" type="button">Add</button>

		<label v-for="(task) in List.data">{{task.desc}}</label>

	</div>




	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="main.js"></script>



</body>

</html>
